.container.container-p {
    padding-top: 70px;
    padding-bottom: 70px;
}

section.craft {
    background-image: url("../assets/sepia-texture2.jpg");
}

body {
    color: #343A40;
}

h1, h2, h3 {
    font-weight: bold;
}