div#carouselExampleIndicators {
    height: 80vh;

    .carousel-inner, .carousel-item {
        height: 80vh;
    }

    .carousel-item > img {
        height: 80vh;
        object-fit: cover;
    }

    /* ce code aurait remonté le texte sur carousel */
    // .carousel-caption {
    //     bottom: 15%
    // }
}

section.craft.image-galery {

    .img-grid-row img {
        margin-bottom: 20px;
    }    

    height: max-content;

    .img-box {
        max-height: 300px;
        overflow: hidden !important;
        display: inline-block;
        transition: all .2s ease-in-out;
    
        &:hover > img {
            transform: scale(1.05);
        }
    
        img {
            display: block;
            transition: all .2s ease-in-out;
        }
    }
}
