#carte {
    .container {
        padding-top: 65px;
        padding-bottom: 120px;
    }

    .carte-wrapper {
        padding: 60px 50px 100px;
        border-radius: 30px;
        background-color: #ffffffcc;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 13px;
    }
}
